.sectionForm{
    display: flex;
    justify-content: center;
}
.formDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    border: 1px solid #000;
    width: 500px;
    border-radius: 20px;
}
.floatingInputCustom{
    margin: 5px;

}
.mb-3{
    margin: 5px;
}